.whole-header {
  background-color: #000;
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  font-size: 13px;
  text-transform: uppercase;

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  min-height: 70px;
  position: relative;
  color: #cfb662;
}

.header-left {
  display: flex;
  align-items: center;
  z-index: 1;
  font-weight: bold;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.nav-item .nav-link {
  color: #cfb662;
  text-decoration: none;
}

.nav-item .nav-link:hover {
  color: #9a8749;
}

.header-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 0;
}

.logo-img {
  height: 80px;
  width: auto;
  display: block;
}

.header-right {
  display: flex;
  align-items: center;
  z-index: 1;
}

.header-right .nav-list {
  display: flex;
  gap: 20px;
}

.header-icon {
  font-size: 30px;
}

.body {
  padding-top: 70px;
}

.mobile-menu-toggle {
  display: none;
  cursor: pointer;
}

.mobile-menu-toggle.active {
  display: block;
}

@media (max-width: 768px) {

  .mobile-menu-toggle {
    display: block;
  }

  .header-right .header-icon {
    font-size: 22px;
  }

  .header-right .nav-list {
    gap: 15px;
  }

  .logo-img{
    height: 50px;
  }
}

/* Ocultar menú hamburguesa en escritorio */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: #cfb662;
}

/* Mostrar/ocultar elementos según tamaño pantalla */
@media (max-width: 768px) {
  .header-left .nav-list {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  .mobile-menu {
    position: absolute;
    top: 80px;
    left: 0;
    background-color: #000;
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 100;
  }

  .mobile-menu a {
    color: #cfb662;
    text-decoration: none;
    padding: 10px 20px;
  }

  .mobile-menu a:hover {
    color: #9a8749;
  }
}
