@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
/* Estilos generales para el header */
.whole-header {
  background-color: #000;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between; /* Espacio entre los elementos */
  align-items: center; /* Centra los elementos verticalmente */
  font-family: 'Montserrat', sans-serif;
}

/* Estilos para el menú de la izquierda */
.header-left {
  display: flex;
  align-items: center;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px; /* Espacio entre los items */
}

.nav-item .nav-link {
  color: #D4AF37;
  text-decoration: none;
}

.nav-item .nav-link:hover {
  color: #BF8970;
}

/* Estilos para el logo centrado */
.header-center {
  flex-grow: 1; /* Esto permite que el centro ocupe el espacio restante */
  text-align: center;
  margin-right: 100px;
}

.logo-img {
  height: 80px;
  width: auto;
}

/* Estilos para el menú de la derecha */
.header-right {
  display: flex;
  align-items: center;
}

.header-right .nav-list {
  display: flex;
  gap: 50px;
}

.header-icon {
  font-size: 30px;
}

