@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
/* Estilos generales para el header */
.whole-header {
  background-color: #000;
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.header {
  display: flex;
  justify-content: space-between; /* Espacio entre los elementos */
  align-items: center; /* Centra los elementos verticalmente */
  font-family: 'Montserrat', sans-serif;
  min-height: 80px;
  position: relative;
}

/* Estilos para el menú de la izquierda */
.header-left {
  display: flex;
  align-items: center;
  z-index: 1;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px; /* Espacio entre los items */
}

.nav-item .nav-link {
  color: #D4AF37;
  text-decoration: none;
}

.nav-item .nav-link:hover {
  color: #BF8970;
}

/* Estilos para el logo centrado */
.header-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 0;
}

.logo-img {
  height: 80px;
  width: auto;
  display: block;
}

/* Estilos para el menú de la derecha */
.header-right {
  display: flex;
  align-items: center;
  z-index: 1;
}

.header-right .nav-list {
  display: flex;
  gap: 50px;
}

.header-icon {
  font-size: 30px;
}

body {
  padding-top: 70px;
}

