body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #121212;
  font-family: 'Montserrat', sans-serif;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 40px;
  background-color: #1e1e1e;
  max-width: 400px;
  margin: auto;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.form-container h2 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #d4aa43
}

.form-container p {
  margin-bottom: 20px;
  font-size: 14px;
}

form {
  width: 100%;
}

input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #444;
  border-radius: 6px;
  background-color: #2c2c2c;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

input[type="email"]:focus {
  border-color: #d4aa43;
  outline: none;
}

.error-message {
  color: #ff6b6b;
  font-size: 0.9em;
  margin-bottom: 10px;
}

.success-message {
  color: #72ff96;
  font-size: 0.95em;
}

.boton-elegante {
  width: 100%;
  padding: 10px;
  background-color: #d4aa43;
  color: #121212;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton-elegante:hover { 
  background-color: #c2952e;
}