@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

/* Contenedor del banner */
.banner-container {
  display: flex;
  position: relative; 
  width: 100%;
  height: calc(105vh - 30px);
  overflow: hidden;
  margin-bottom: -1;
}

/* Overlay oscuro sobre la imagen */
.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro con opacidad */
  z-index: 1; /* Asegura que el overlay esté encima de la imagen */
}

/* Imagen de fondo */
.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0; /* Asegura que la imagen esté detrás del overlay */
}

/* Texto encima de la imagen */
.banner-text {
  position: absolute;
  top: 60%;
  left: 0;
  transform: translate(0, -50%);
  color: #cfb662;
  font-family: 'par';
  text-align: left;
  margin-left: 100px;
  z-index: 2;
}

#title {
  font-family: 'Playfair Display';
  font-size: 65px;
}

#description {
  color: #cfb662;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

@media (max-width: 768px) {
  .banner-text {
    margin-left: 30px;
  }

  #title {
    font-size: 38px;
  }

  #description {
    font-size: 12px;
  }

}
