

/* footer */
footer {
  font-size: 12px;
  background-color: rgb(255, 255, 255);
  margin: 0;
  bottom: 0;
  width: 100%; 
  padding: 10px 20px; 
  display: flex;
  gap: 200px;
  font-family: sans-serif;
}

.contacts {
  margin-left: 10px; 
  text-align: left;
}

.menu-footer {
  margin-right: 50px;
  text-align: center;
}

#txt_about_us {
  font-family: 'Montserrat', sans-serif;
}
