@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.product-card {
  color: #D4AF37;
  border: none;
  background-color: rgb(39, 39, 39);
  font-family: 'Montserrat'
}

.product-card img {
  height: 250px;
  object-fit: cover;
}

#btn {
  background-color: #D4AF37;
  border: none;
  font-weight: bold;
  color:black;
}