@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.product-card {
  position: relative;
  color: #D4AF37 !important;
  border: none !important;
  background-color: rgb(39, 39, 39) !important;
  font-family: 'Montserrat'
}

.product-card .card-img-top {
  height: 250px;
  object-fit: cover;
}

.product-card .img-container {
  position: relative;
  overflow: visible;
}

.product-card .img-overlay {
  border-radius: 16px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  overflow: hidden;
}

.cart-icon {
  width: 30%;
  cursor: pointer;
  z-index: 2;
  object-fit: contain;
}

.product-card .img-container:hover .img-overlay {
  opacity: 1;
}

#btn {
  background-color: #D4AF37;
  border: none;
  font-weight: bold;
  color:black;
}