@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


#title-new-product {
  font-family: 'Montserrat';
  color: #cfb662;
  font-weight: bold;
  text-align: center;
}
